<!-- ============================================================== -->
<!-- Sales Cards  -->
<!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-controller="PMS" asp-action="MyAppraisalSessions">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-journal-text"></i></h1>
                        <h6 class="text-dark">My Appraisals</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-controller="PMS" asp-action="AppraisalsSubmittedtoMe">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-inboxes"></i></h1>
                        <h6 class="text-dark">Appraisals Submitted to Me</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-controller="PMS" asp-action="DirectReportEvaluations">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-diagram-3"></i></h1>
                        <h6 class="text-dark">Direct Reports Appraisal</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-controller="PMS" asp-action="AppraisalEnquiry">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-search"></i></h1>
                        <h6 class="text-dark">Enquiry</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-controller="PMS" asp-action="ResultReport">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-file-bar-graph"></i></h1>
                        <h6 class="text-dark">Reports</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-controller="PMS" asp-action="Settings">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-sliders"></i></h1>
                        <h6 class="text-dark">Settings</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
    </div>



