
@model NXPMS.Web.Models.PMSViewModels.ManageReviewGradeViewModel
<h3 class="mb-1">Performance Grades</h3>
<hr />
<div class="card mt-1" style="max-width:1000px">
    <div class="card-header bg-danger">
        <h4 class="text-white">Delete Performance Grade</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form asp-controller="PMS" asp-action="DeletePerformanceGrade" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <input type="hidden" asp-for="ReviewGradeId" />
                    <input type="hidden" asp-for="GradeHeaderId" />
                    <label asp-for="ReviewGradeDescription" class="form-label text-white fw-bold"></label>
                    <input asp-for="ReviewGradeDescription" class="form-control" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label asp-for="LowerBandScore" class="form-label text-white fw-bold"></label>
                    <input asp-for="LowerBandScore" class="form-control" readonly="readonly">
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="UpperBandScore" class="form-label text-white fw-bold"></label>
                    <input asp-for="UpperBandScore" class="form-control" readonly="readonly">
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="GradeRankDescription" class="form-label text-white fw-bold"></label>
                    <input asp-for="GradeRankDescription" class="form-control" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a asp-controller="PMS" asp-action="PerformanceGradeTemplate" asp-route-id="@Model.GradeHeaderId" class="btn btn-dark" style="width:100px" title="Exit">
                        <span class="text-white">Exit</span>
                    </a>
                    @if (!Model.OperationIsSuccessful)
                    {
                        <button type="submit" class="btn btn-danger" title="Delete" style="width:200px" onclick="return confirm('Do you want to delete this record permanently?')"><span class="text-white">Delete</span></button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>



