
@model NXPMS.Base.Models.PMSModels.MoveToNextStageModel
<h3 class="mb-1">Appraisal Process</h3>
<hr />
<div class="card mt-1" style="max-width:800px">
    <div class="card-header bg-primary">
        <h4 class="text-white">Move to Next Step</h4>
    </div>
    <div class="card-body" style="background-color:#ccccff">
        @if (Model != null && Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
        {
            <div class="row">
                <span class="fw-bold"style="color:#a93226; font-size:1.0rem">Sorry, you may not be able to move to the next step because of the following errors:</span>
                <ul class="list-group" style="background-color:#ccccff">
                    @foreach (var error in Model.ErrorMessages)
                    {
                        <li class="list-group-item" style="background-color:#ccccff"><span class="fw-bold" style="color:#a93226; font-size:1.0rem">@error</span></li>
                    }
                </ul>
                <span class="fw-bold" style="color:#a93226; font-size:1.0rem">Kindly make the necessary corrections and try again. Thank you.</span>
            </div>

        }

        @if (Model != null && Model.WarningMessages != null && Model.WarningMessages.Count > 0)
        {
            <div class="row" style="background-color:#eb984e">
                <h5 class="fw-bold text-white">While you can move to the next step, it is advised that you heed the following warnings before you proceed.</h5>
                <ul class="list-group">
                    @foreach (var warning in Model.WarningMessages)
                    {
                        <li class="list-group-item"><span class="text-white fw-bold">@warning</span></li>
                    }
                </ul>
            </div>
        }

        <form asp-controller="PMS" asp-action="MoveToNextStep" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <input type="hidden" asp-for="ReviewHeaderID" />
                    <input type="hidden" asp-for="ReviewSessionID" />
                    <input type="hidden" asp-for="AppraiseeID" />
                    <input type="hidden" asp-for="CurrentStageID" />
                    <input type="hidden" asp-for="NextStageID" />
                    @if (Model.IsQualifiedToMove)
                    {
                        <label class="form-label text-dark fw-bold"> Click on the 'Move' button below to continue to the next step. </label>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a asp-controller="PMS" asp-action="MyAppraisalSteps" asp-route-id="@Model.ReviewSessionID" class="btn btn-dark" style="width:100px" title="Back">
                        <span class="text-white">Back</span>
                    </a>
                    @if (Model.IsQualifiedToMove)
                    {
                        <button type="submit" class="btn btn-primary" title="Move to Next Step" style="width:200px"><span class="text-white">Move to Next Step</span></button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>



