<!-- ============================================================== -->
<!-- Sales Cards  -->
<!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-controller="PMS" asp-action="PerformanceYears">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="mdi mdi-calendar-multiple"></i></h1>
                        <h6 class="text-dark">Performance Years</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-controller="PMS" asp-action="ApproverRoles">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="mdi mdi-playlist-check"></i></h1>
                        <h6 class="text-dark">Approver Roles</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-controller="PMS" asp-action="ReviewSessions">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="mdi mdi-folder-multiple"></i></h1>
                        <h6 class="text-dark">Review Sessions</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-controller="PMS" asp-action="Grading">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><span class="mdi mdi-poll"></span></h1>
                        <h6 class="text-dark">Grading Profiles</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
    </div>


