<h4 class="mb-1">Security Alert</h4>
<hr />
<div class="card mt-1" style="max-width:600px">
    <div class="card-header bg-danger">
        <h4 class="fw-bold text-white" style="font-size: 1.2rem;">Access Denied!</h4>
    </div>
    <div class="card-body bg-secondary">
             <div class="row">
                <div class="col-md-12 mb-2">
                    <p class="fw-bold text-white" style="font-size:1.0rem">
                        Oops! It appears you do not have permission to this part of the application. Please contact the System Administrator for assistance.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-end">
                    <a asp-controller="Home" asp-action="Index" title="Exit" class="btn btn-dark" style="width:100px">
                        <span class="text-white fw-bold">Exit</span>
                    </a>
                </div>
            </div>
    </div>
</div>


