<!-- ============================================================== -->
<!-- Sales Cards  -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <a asp-controller="Security" asp-action="Users">
            <div class="card card-hover">
                <div class="box bg-light text-center">
                    <h1 class="font-light text-dark"><i class="mdi mdi-account-multiple"></i></h1>
                    <h6 class="text-dark">Users</h6>
                </div>
            </div>
        </a>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-light text-center">
                <h1 class="font-light text-dark"><i class="mdi mdi-lock"></i></h1>
                <h6 class="text-dark">Permissions</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
