<!-- ============================================================== -->
<!-- Sales Cards  -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <a asp-controller="Employees" asp-action="Search">
            <div class="card card-hover">
                <div class="box bg-light text-center">
                    <h1 class="font-light text-dark"><i class="mdi mdi-account-search"></i></h1>
                    <h6 class="text-dark">Search Employees</h6>
                </div>
            </div>
        </a>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <a asp-controller="Employees" asp-action="Listings">
            <div class="card card-hover">
                <div class="box bg-light text-center">
                    <h1 class="font-light text-dark"><i class="mdi mdi-format-list-numbers"></i></h1>
                    <h6 class="text-dark">Employee Listings</h6>
                </div>
            </div>
        </a>
    </div>
    <!-- Column -->
</div>

